# Python
__pycache__/
*.pyc
venv/
.env

# Cloud Shell System Junk (The source of your error)
.local/
.cache/
.config/
.apache_beam/
.npm/
.ssh/

# Data
data/
*.pdf
*.csv
credit_history.csv
batch_results/
__pycache__/
*.pyc
